html {
    overflow-x: hidden;
    scroll-snap-type: y mandatory; /* Enable vertical scroll snapping */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-y: scroll; /* Ensure vertical scrolling is possible */
}

body::-webkit-scrollbar {
    width: 0.4em; /* Minimal width to still be able to scroll */
    background: transparent; /* Optional: Transparent background */
}

body::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5); /* Optional: Add some visibility for the scrollbar */
    border-radius: 10px; /* Optional: Rounded corners */
}

body::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.8); /* Optional: Hover effect */
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start; /* Snap each section to the top of the viewport */
}

section {
    padding: 50px;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start; /* Snap each section to the top of the viewport */
}

#intro {
    background: #f4f4f4;
}

.portfolio-container {
    width: 100%;
}

.portfolio-project {
    width: 100%;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    scroll-snap-align: start; /* Snap each section to the top of the viewport */
}

.portfolio-project img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
}

.portfolio-project:hover {
    transform: scale(1.05);
}

#contact {
    background: #f4f4f4;
    scroll-snap-align: start; /* Snap each section to the top of the viewport */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.forgeViewer {
    width: 100%;
    height: 70vh; /* Adjust height as needed */
}
